<!DOCTYPE html>
<html>
  <head>
    <title>Administrador</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar">
            <div class="nav">
                <img class="logo" src="/images/logo.png"  alt="logo"/>
                <ul class="navbar links">
                    <li > HOME </li>
                    <li>  NOSOTROS </li>
                    <li> NOVEDADES</li>
                    <li>  CONTACTO </li>
                </ul>
            </div>
        </nav>
        <header class="header">
        <div>
                <img class="header.contenido header__imagen" src="/images/header.jpg" alt="Imagen de encabezado" />
                <div class="contenido">
    </div>
    </div>
      
</header>
    {{{body}}}
        <footer class="footer">
      <div class="footer-content">
      <img class="footer-logo" src="/images/logo.png"  alt="logo"/>
        <ul class="footer-links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/novedades">Novedades</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>

        <ul class="footer-links">
          <li>23 rue du Faubourg Montmartre 75009,</li>
          <li>Buenos Aires</li>
          <li>info@hotelnewgarden.com</li>
          <li>Teléfono : 11 53 34 98 10</li>
        </ul>

      </div>
      <div class="footer-bottom">
        <p class="footer-rights">© 2023  Todos los derechos reservados.</p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>