<div class="formulario__container">
    <form action="/admin/login" method="post">
    <div class="col">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="inputUser" placeholder="usuario" name="usuario">
    </div>
    <div class="col mb-2">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="contraseña" name="password">
    </div>
    <div class="formulario__boton">
    <button type="submit" class="btn btn-primary">ingresar</button>
    </div>
    </form>
    {{#if error }}
    <p> Usuario y/o contraseña incorrectos </p>
    {{/if}}
</div>